@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --main-color: #18191b;
 --2nd-color: #202124;
 --3rd-color: #2d2f33;
}


.body {
  background-color: var(--main-color);
    color: white;
}
.mobile {
    display: none;
}
@media (max-width: 550px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
